/*propietes globale*/
/* reinitialisation css pour que les deux boites occupent
 * toutes la page*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	background-color: #f5f6f7;
	color: #fff;
}
/* boite flexible */
/*main est la boite flexible*/
.main{
	display: flex;
	flex-direction: row;
}
/*les div sont les items flexibles*/
.boite{
	min-height: 100vh; /*hauteur sur toute la page*/
	width: 100%; /*largeur sur toute la page*/
}
.gauche{
	background-color: #14152f;
}
.droite{
	background-color: #03081e;
}

